.user-header{
    font-family:$font-family;
    background:$primary;
    color:$neutral-white;
    font-size: $font-size-3;
    font-weight: $font-weight-regular;
    select{
        background: none;
        border: none;
    }
    label{
        display: none;
    }
    a{
        color:$neutral-white;
        font-weight: $font-weight-light;
        text-decoration: none;
    }

    button{
        background:none;
        border-color:$neutral-white;
        color: $neutral-white;
        &:hover{
            background:$primary;
        }
    }

    .dmv-logo{
        font-weight:$font-weight-semibold;
        img{
            padding-right: 1rem;
        }
    }
    .select-language{
        button{
            background:none;
            border-color:transparent;
            color: $neutral-white;
            svg{
                fill: $neutral-white;
            }
        }
      
     
    }
    .slds-select_container{
        &::before{
            display: none;
        }
        &::after{
            top: 15px;
            right: 0px;
            border-left: 5px solid transparent;
            border-right: 6px solid transparent;
        }
    }
}

.dmv-nav{
    background-color: $neutral-white;
    select{
        background: none;
        border: none;
    }
    label{
        display: none;
    }
    font-size: $font-size-3;
    button{
        border: none;
        color:$primary;
        svg{
            fill: $primary;
        }
        &:hover{
            color:$secondary;
        }
    }
    .slds-select_container{
        &::before{
            display: none;
        }
        &::after{
            top: 15px;
            right: 0px;
            border-left: 5px solid transparent;
            border-right: 6px solid transparent;
        }
    }
}


