// DMV branding colors

$primary:#121C44;
$secondary:#D54401;
$neutral:#140802;
$neutral-gray:#4B5563;
$neutral-white:#fff;
$light-gray:#F7F9FC;
$error-red:#CD0D0D;
$success-green:#219542;
$light-green:#EFF4F6;
$info-orange:#FDB827;
$light-orange:#F9F9F3;



// DMV Regular Fonts 
$font-family: 'Open Sans', sans-serif;

// DMV Headdings Fonts 
$font-family-poppins: 'Poppins', sans-serif;



// DMV Fonts Sizes 
$font-size-1:               0.75rem;       //12px
$font-size-2:               0.875rem;      //14px
$font-size-3:               1rem;          //16px
$font-size-4:               1.125rem;      //18px
$font-size-5:               1.25rem;       //20px
$font-size-6:               1.5rem;        //24px                  
$font-size-7:               2rem;          //32px
$font-size-8:               2.5rem;        //40px


// DMV Font Weights
$font-weight-light:         300;
$font-weight-regular:       400;
$font-weight-medium:        500;
$font-weight-semibold:      600;
$font-weight-bold:          700;


// DMV Borders Redius
$border-radius-small:       0.125rem;       //2px

// DMV Box shadow
$box-shadows: 0px 4px 8px rgba(0, 0, 0, 0.14);
